.page-title{
    height: 40px;
    width: 40px;
}

.add-btn {
    border-radius: 5px !important;
}

.page-title button{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    z-index: 9999;
}

.alert-success{
    border-left: 5px solid green ;
}

.alert-error{
    border-left: 5px solid red ;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}
